@import url(index.css); /* index */
@import url(blue/blue.css); /* blue album*/
@import url(pinkerton/pinkerton.css); /* pinkerton */
@import url(green/green.css); /* green album */

/* universal stuff */
@font-face {
    font-family: "Century Gothic";
    src: url("GOTHIC.woff2") format("woff2");
}

h1{
    font-size: 60px;
}

html{
    font-family: "Century Gothic";
}

txt{
    font-weight: bold;
    font-size: 18px;
}

ul{
    font-size: 12px;
}

#weezerlogo{
    position: relative;
    top: -40px;
}