@font-face {font-family: "Century Gothic";
    src: url("GOTHIC.woff2") format("woff2");}

html{font-family: "Century Gothic";
    background-color: #272727;
    color: #c5c5c5}

body{max-width: min-content;}

#weezerlogo{position: relative;
    top: -40px;}
#subtitle{position: relative;
    top: -90px;
    left: 10px;}
#tracks{position: relative;
    top: -70px;}

h1{font-size: 60px;}

a:link{color: #c5c5c5;}
a:visited{color: #9c9c9c}

txt{font-weight: bold; font-size: 18px;}
ul{list-style-type: none; font-size: 12px;}